div:not(.alert){
    background-color:grey;
    margin:0px;
    padding:0px;
    min-width: 100%;
    width:100%;
    overflow-y: scroll;
    height:600px;
   
}

input,button{
    width:200px;
    margin-left: 38%;
    margin-top:5px;
}

label{
    margin-left:38%;
}

h2{
    margin-left:42%;
    margin-bottom:20px;
}

a{
    margin-left:42%;
}