<br>
<div *ngIf="correctData===false || isLoginFailed===true"class="alert alert-warning">
        <strong>Warning! </strong>{{warningMessage}}
</div>
<h2>Login Form</h2>

<form (submit)="loginUser($event)" class="form-signin">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="username" id="username" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="password" placeholder="Enter Password" name="psw" required>
    <a href="#" routerLink="/register">Register</a>
    <button type="submit" >Login</button>
    <button class="second" routerLink="/welcome">Return back</button>
  </div>

</form>