<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul>
        <li><a class="active" routerLink="/welcome" href="#home">Home</a></li>
        <li><a href="#" routerLink = "/freeHours">Working Hours</a></li>
        <li><a href="#" routerLink = "/treatments">Our services</a></li>
        <li><a href="#" routerLink = "/contact" >Contact</a></li>
        <li><a href="#" routerLink = "/login" >Login</a></li>
        <li><a href="#" routerLink = "/register" >Register</a></li>
    </ul>

  </nav>